@import "tailwindcss";

@theme {
  --color-black-90: #0a0a0a;
  --color-black-70: #1a1a1a;
  --color-primary: #03d6a5;
}

:root {
  --font-pretendard: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textScroll {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20%);
  }
  40% {
    transform: translateY(-40%);
  }
  60% {
    transform: translateY(-60%);
  }
  80% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-text-scroll {
  animation: textScroll 10s infinite;
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}
